language: node_js
node_js:
  - 8

install:
  - npm install

script:
  - npm test

deploy:
 provider: script
 skip_cleanup: true
 script: sh $TRAVIS_BUILD_DIR/.travis/pu.sh
 on:
   branch: master
   tags: false